form.form-horizontal
  .row
    .col-md-12
      h4.step-title Application Server Settings
      .form-group
        label(for='appBindAddress').col-sm-2.control-label Bind Address
        .col-sm-8
          input(type='text', placeholder='Bind Address', value='', aria-describedby='appBindAddressHelp', size=40).form-control#appBindAddress
          span.help-block#appBindAddressHelp Host UpsBoard should listen on. IPv4 Address only.
      .form-group
        label(for='appPortNumber').col-sm-2.control-label Port Number
        .col-sm-8
          input(type='number', placeholder='Port Number', value='', aria-describedby='appPortNumberHelp', size=5).form-control#appPortNumber
          span.help-block#appPortNumberHelp Port UpsBoard should listen on. 
            small#appPortNumberHelpNote Note: Having port number 1024 or lower will require root account to run.
      .form-group
        label(for='appWebRoot').col-sm-2.control-label Web Root
        .col-sm-8
          input(type='text', placeholder='Web Root', value='', aria-describedby='appWebRootHelp', size=40, data-model-field='appWebRoot').form-control#appWebRoot
          span.help-block#appWebRootHelp Used with reverse proxy. Leave empty for default.
      .form-group
        label(for='appLogHttpRequests').col-sm-2.control-label Log http Requests
        .col-sm-8.checkbox
          label
            input(type='checkbox', checked, aria-describedby='appLogHttpRequestsHelp')#appLogHttpRequests
            span.help-block.help-block-checkbox Enabled
          span.help-block#appLogHttpRequestsHelp Disable if you don't want to fill your log files to fill up with http requests.
       .form-group
        label(for='appCheckForUpdates').col-sm-2.control-label Check for Updates
        .col-sm-8.checkbox
          label
            input(type='checkbox', checked, aria-describedby='appCheckForUpdatesHelp')#appCheckForUpdates
            span.help-block.help-block-checkbox Enabled
          span.help-block#appCheckForUpdatesHelp Disable if you don't want the app to check for new updates.
       .form-group
        label(for='appAutoUpdate').col-sm-2.control-label Automatically Update
        .col-sm-8.checkbox
          label
            input(type='checkbox', checked, aria-describedby='appAutoUpdateHelp')#appAutoUpdate
            span.help-block.help-block-checkbox Enabled
          span.help-block#appAutoUpdateHelp Disable if you don't want the app to automatically update itself.

  .row
    .col-md-12
      h4.step-title Create Administrator Account
      .form-group
        label(for='appAdminEmail').col-sm-2.control-label Email address
        .col-sm-8
          input(type='email', placeholder='Email', aria-describedby='appAdminEmailHelp').form-control#appAdminEmail
          span.help-block#appAdminEmailHelp The email addess of the administrator account.
      .form-group
        label(for='appAdminUsername').col-sm-2.control-label Username
        .col-sm-8
          input(type='text', placeholder='Username', aria-describedby='appAdminUsernameHelp', size='25').form-control#appAdminUsername
          span.help-block#appAdminUsernameHelp The username used for the administrator account (at least 3 characters, no more than 25, and contains no spaces). 
      .form-group
        label(for='appAdminPassword').col-sm-2.control-label Password
        .col-sm-8
          input(type='password', placeholder='Password', aria-describedby='appAdminPasswordHelp').form-control#appAdminPassword
          span.help-block#appAdminPasswordHelp Enter a password for the administrator account (at lease 6 characters).
      .form-group
        label(for='appAdminPasswordConfirm').col-sm-2.control-label Confirm Password
        .col-sm-8
          input(type='password', placeholder='Confirm Password', aria-describedby='appAdminPasswordConfirmHelp').form-control#appAdminPasswordConfirm
          span.help-block#appAdminPasswordConfirmHelp Please confirm the password.
  .row
    .col-md-12
      .row-continue.bottom-btn-row
        button(role='button').btn.btn-info.btn-previous-step Previous
        .pull-right
          div.row-btn-inline
            button(role='button', type='submit').btn.btn-primary.btn-next-step Next
