a(href!='#{location}', aria-controls!='#{target}', data-target!='##{target}', role='tab', data-toggle='tab')
  .icos.icos-16.tab-app
  span.wizard-sub-tabs-title #{title}
  i.icos.icos-16.glyphicon.tab-status
  