table.table.table-striped.table-hover.servers-drives
  thead
    tr
      th
      th(style='width:10%').text-center Remote
      th(style='width:10%').text-center CPU
      th(style='width:10%').text-center Memory
      th(style='width:10%').text-center Bandwidth
      th(style='width:10%').text-center Drives
      th(style='width:70px')
  tbody
    tr.no-servers-added
      td(colspan=6).bold.text-center No server has been added yet.
