.modal.fade(tabindex=-1, role='dialog', aria-labelledby='plexModalSelectLibraryLabel')#plexModalSelectLibrary
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button(type='button', data-dismiss='modal', aria-label='Close').close
          span(aria-hidden=true) &times;
        h4#plexModalSelectLibraryLabel Pick a Library
      .modal-body
