td #{label}
td #{address}
td 
  span.small.hide.service-login-required
    i(title='Login is required to allow link.', data-placement='right').btn-tooltip.glyphicon.glyphicon-asterisk
  span.padding-5 #{url}
td.text-center #{timeout}
td
  .btn-group.btn-group-xs(role='group')
    button(type='button', title='Edit Service', data-placement='left').btn.btn-default.btn-tooltip.btn-edit-service
      span(aria-hidden='true').fa.fa-pencil
     button(type='button', title='Delete Service', data-placement='right').btn.btn-default.btn-tooltip.btn-delete-service
      span(aria-hidden='true').glyphicon.glyphicon-trash