ul.nav.nav-tabs.wizard-sub-tabs(role='tablist')
  .wizard-sub-title #{title}:
.tab-content.wizard-sub-content

.row
  .col-md-12.bottom-btn-row
    .row-continue
      button(role='button').btn.btn-info.btn-previous-step
        i.glyphicon.glyphicon-menu-left.padding-right-5
        span.bold Previous
      .pull-right
        span.extra-buttons(style='display:none;')
        .row-btn-inline
          button(role='button', type='submit').btn.btn-primary.btn-next-step
            span.bold Next
            i.glyphicon.glyphicon-menu-right.padding-left-5
