.row(style='padding:10px')
  .col-md-12
    a(role='button', href='#').btn.btn-default.col-md-4.col-md-push-4.btn-add-server
      i.glyphicon.glyphicon-plus-sign
      span(style='padding-left:5px') Add Server
.row
  .col-md-12.server-list-body
