td
  .form-group.no-margin
    input(type='text', placeholder='Label', size=40, value!='<%= label %>').form-control.input-sm.drive-label
td
  .form-group.no-margin
    input(type='text', placeholder='Location', value!='<%= location %>').form-control.input-sm.drive-location
td
  .form-group.no-margin
    .input-group.total-space
      input(type='text', placeholder='Total Space', value!='<%= totalSpace %>').form-control.input-sm.drive-total-space
td
  .btn-group.btn-group-sm(role='group')
    button(type='button', title='Test Drive / Get Information', data-placement='left').btn.btn-default.btn-drive-test.btn-tooltip
      span(aria-hidden='true').glyphicon.glyphicon-eye-open
    button(type='button', title='Delete Drive', data-placement='right').btn.btn-default.btn-drive-delete.btn-tooltip
      span(aria-hidden='true').glyphicon.glyphicon-trash
