.modal.fade(tabindex=-1, role='dialog', aria-labelledby='addServerModalLabel')#addServerModal
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button(type='button', data-dismiss='modal', aria-label='Close').close
          span(aria-hidden=true) &times;
        h4#addServerModalLabel <%= btnText %>
      .modal-body
        form.form-horizontal
          .row
            .col-md-12
              .form-group
                label(for='addServerName').col-sm-3.control-label Server Name
                .col-sm-7
                  input(type='text', placeholder='Server Name', size=40).form-control#addServerLabel
          .row
            .col-md-12
              .btn-group(role='group').col-md-10.col-md-push-1
                button(type='button', aria-label='Local Server', data-remote='false').btn.btn-info.col-md-6.bold.btn-server-location.active Local Server
                button(type='button', aria-label='Remote Server', data-remote='true').btn.btn-info.col-md-6.bold.btn-server-location Remove Server
          .remote-server-details(style='display:none')
            .row
              .col-md-12
                h4.step-title Remote SSH Settings
                .form-group
                  label(for='addServerHost').col-sm-3.control-label IP/Host Address
                  .col-sm-7
                    input(type='text', placeholder='IP/Host Address', size=40).form-control.input-sm.input-remote-server#addServerHost
                .form-group
                  label(for='addServerPortNumber').col-sm-3.control-label Port Number
                  .col-sm-7
                    input(type='number', placeholder='Port Number', size=5).form-control.input-sm.input-remote-server#addServerPortNumber
                .form-group
                  label(for='addServerUsername').col-sm-3.control-label Username
                  .col-sm-7
                    input(type='text', placeholder='Username', size=32).form-control.input-sm.input-remote-server#addServerUsername
                .form-group
                  label(for='addServerUsername').col-sm-3.control-label Authentication Type
                  .col-sm-7
                    .btn-group(role='group').btn-group-sm.col-md-12
                      button(type='button', aria-label='Password Authentication', data-model='authentication', data-value='password').btn.btn-default.col-md-4.btn-server-switch.input-remote-server.active Password
                      button(type='button', aria-label='Private Key Authentication', data-model='authentication', data-value='privateKey').btn.btn-default.col-md-4.btn-server-switch.input-remote-server Private Key
                      button(type='button', aria-label='No Authentication', data-model='authentication', data-value='none').btn.btn-default.col-md-4.btn-server-switch.input-remote-server None
                .server-authentication.server-authentication-password
                  .form-group
                    label(for='addServerPassword').col-sm-3.control-label Password
                    .col-sm-7
                      input(type='password', placeholder='Password').form-control.input-sm.input-remote-server#addServerPassword
                .server-authentication.server-authentication-privatekey(style='display:none')
                  .form-group
                    label(for='addServerPrivateKey').col-sm-3.control-label Private Key
                    .col-sm-7
                      textarea(rows=4, placeholder='-----BEGIN RSA PRIVATE KEY-----\nPrivate Key\n-----END RSA PRIVATE KEY-----').form-control.input-sm.input-remote-server#addServerPrivateKey
                  .form-group
                    label(for='addServerPassphrase').col-sm-3.control-label Passphrase 
                      small.normal (Optional)
                    .col-sm-7
                      input(type='password', placeholder='Passphrase', aria-describedby='addServerPassphraseHelp').form-control.input-sm.input-remote-server#addServerPassphrase
                      span.help-block#addServerPassphraseHelp This is required if your private key requries a passphrase.
             .row
              .col-md-12.text-center.small(style='height:20px')
                span.text-danger.test-connection-failed.hide
                span.text-success.test-connection-success.bold.hide Connection Successful!

            .row
              .col-md-12
                button(type='button', aria-label='Local Server', data-location='local').btn.btn-sm.btn-info.col-md-9.col-md-push-2.btn-test-connection Test Connection To Server
          .row
            .col-md-12
              h4.step-title Services to Monitor
              .form-group
                label.col-sm-3.control-label CPU
                .col-sm-7
                  .row
                    .btn-group(role='group').btn-group-sm.col-md-8
                      button(type='button', aria-label='Enable', data-model='monitorCpu', data-value=1).btn.btn-default.col-md-6.btn-server-switch.active Enable
                      button(type='button', aria-label='Disable', data-model='monitorCpu', data-value=0).btn.btn-default.col-md-6.btn-server-switch Disable
              .form-group
                label.col-sm-3.control-label Memory
                .col-sm-7
                  .row
                    .btn-group(role='group').btn-group-sm.col-md-8
                      button(type='button', aria-label='Enable', data-model='monitorMemory', data-value=1).btn.btn-default.col-md-6.btn-server-switch.active Enable
                      button(type='button', aria-label='Disable', data-model='monitorMemory', data-value=0).btn.btn-default.col-md-6.btn-server-switch Disable
              .form-group
                label.col-sm-3.control-label Bandwidth
                .col-sm-7
                  .row
                    .btn-group(role='group').btn-group-sm.col-md-8
                      button(type='button', aria-label='Enable', data-model='monitorBandwidth', data-value=1).btn.btn-default.col-md-6.btn-server-switch.active Enable
                      button(type='button', aria-label='Disable', data-model='monitorBandwidth', data-value=0).btn.btn-default.col-md-6.btn-server-switch Disable
          .server-bandwidth
            .row
              .col-md-12
                h4.step-title Bandwidth Settings
                .form-group
                  label(for='addServerBandwidthMaxUpload').col-sm-3.control-label Max Upload Speed 
                    small.normal (Optional)
                  .col-sm-7
                    .input-group#addServerBandwidthMaxUploadBox
                      input(type='text', placeholder='Upload Speed').form-control.input-sm#addServerBandwidthMaxUpload
                .form-group
                  label(for='addServerBandwidthMaxDownload').col-sm-3.control-label Max Download Speed 
                    small.normal (Optional)
                  .col-sm-7
                    .input-group#addServerBandwidthMaxDownloadBox
                      input(type='text', placeholder='Download Speed').form-control.input-sm#addServerBandwidthMaxDownload
                .form-group
                  label(for='addServerBandwidthVnstatPath').col-sm-3.control-label vnStat Path 
                    small.normal (Optional)
                  .col-sm-7
                    input(type='text', placeholder='/usr/bin/vnstat', aria-describedby='addServerBandwidthVnstatPathHelp', size=40).form-control.input-sm#addServerBandwidthVnstatPath
                    span.help-block#addServerBandwidthVnstatPathHelp Select the path of vnStat, if not at the default location.
                .form-group
                  label(for='addServerBandwidthVnstatDB').col-sm-3.control-label vnStat DB Directory 
                    small.normal (Optional)
                  .col-sm-7
                    input(type='text', placeholder='/var/lib/vnstat', aria-describedby='addServerBandwidthVnstatDBHelp', size=40).form-control.input-sm#addServerBandwidthVnstatDB
                    span.help-block#addServerBandwidthVnstatDBHelp Allows you specify the directory of the vnstat, if not at the default location.
                .form-group
                  label(for='addServerBandwidthInterface').col-sm-3.control-label Interface 
                    small.normal (Optional)
                  .col-sm-7
                    input(type='text', placeholder='eth0', aria-describedby='addServerBandwidthInterfaceHelp', size=40).form-control.input-sm#addServerBandwidthInterface
                    span.help-block#addServerBandwidthInterfaceHelp Select the interface to watch. 
                      small Default Interface is 
                        span.bold eth0
          .row
            .col-md-12
              h4.step-title Drive Monitoring Settings
          .row
            .col-md-8.col-md-push-2
              button(type='button').btn.btn-sm.btn-default.btn-block#addServerAddDriveBtn
                i.glyphicon.glyphicon-plus-sign  
                span.bold(style='padding-left:5px') Add Drive

          .row
            .col-md-10.col-md-push-1
              table(style='width:100%').table.table-striped.table-condensed.table-hover#addServerDrivesTable
                thead
                  tr
                    th(style='width:20%').small Label
                    th.small Location
                    th(style='width:25%').small Total Space
                      i(style='padding-left:10px').glyphicon.glyphicon-info-sign.icon-drive-total-space
                    th(style='width:80px').small
                tbody
                  tr#addServerDrivesTableNone
                    td(colspan=4).text-center
                      small.bold No drives has been added yet.

      .modal-footer
        button(type='button', data-dimiss='modal').btn.btn-default#addServerCloseModal Close
        button(type='button').btn.btn-primary#addServerBtn <%= btnText %>


