.modal.fade(tabindex=-1, role='dialog', aria-labelledby='addServiceModalLabel')#addServiceModal
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button(type='button', data-dismiss='modal', aria-label='Close').close
          span(aria-hidden=true) &times;
        h4#addServiceModalLabel <%= btnText %>
      .modal-body
        form.form-horizontal