.modal-plex-library-container
  button(type='button').btn.btn-sm.btn-info.modal-plex-library-select Select  
  h4
    span.modal-plex-library-title <%= title %>
    small.modal-plex-library-id (# <%= id %>)