.btn-group.service-item(role='group')
  button(type='button').service-label.btn.btn-info
  button(type='button', data-toggle='tooltip' data-placement='top' title='Edit Service').btn.btn-danger
    i.service-edit.glyphicon.glyphicon-pencil
  button(type='button', data-toggle='tooltip' data-placement='top' title='Remove Service').btn.btn-danger
    i.service-delete.glyphicon.glyphicon-trash