.row(style='padding:10px')
  .col-md-12
    a(role='button', href='#').btn.btn-default.col-md-4.col-md-push-4.btn-add-service Add Service
.row
  .col-md-12
    table.table.table-striped.table-hover.services-table
      thead
        tr
          th Label
          th(style='width:20%') Address
          th(style='width:30%') Url
          th(style='width:150px').text-center Warning Load
          th(style='width:70px')
      tbody
        tr
          td SABnzbd+
          td usenet:2424
          td https://usene.mattsplex.tv/sabnzbd
          td.text-center No
          td
            button(type='button', title='Delete Server', data-placement='right').btn.btn-default.btn-tooltip.btn-delete-service.btn-xs
              span(aria-hidden='true').glyphicon.glyphicon-trash