form.form-horizontal
  .row
    .col-md-12
      p
      p.text-center Plex monitor
      h4.step-title
      .form-group
        label(for='PlexMonitorEnable').col-sm-2.control-label Enable Plex Monitor
        .col-sm-8.checkbox
          label
            input(type='checkbox').checkboxEnable#PlexMonitorEnabled
            |  Enabled
