body
  background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQImV3IIRIAMAwCMP7/0k2BwjK1tlcRE1DOdK6CHZQ7f1TOoBzsoJwHipRfUbIRNaEAAAAASUVORK5CYII=')
  line-height 1.25
  font-family 'PT Sans', sans-serif

.panel
      box-shadow 3px 3px 5px rgba(0, 0, 0, .05)

.panel-heading
  padding 10px

.panel-title, .modal-title, .popover-title
  font-family 'Alegreya Sans', sans-serif
  font-weight 500

@media (min-width: 768px)
  .form-horizontal .control-label
    padding-right 0
