.ui-effects-wrapper {
  display: inline;
}
.padding-5 {
  padding: 5px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-10 {
  padding: 10px;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.bold-center {
  text-align: center;
  font-weight: bold;
}
.no-margin {
  margin: 0 !important;
}
.no-margin .form-control-no-margin {
  padding-right: 23.5px !important;
}
.no-margin .form-control-feedback {
  right: 0 !important;
}
.jquery-notify-bar.notify-error {
  color: #fff;
  background-color: #c12e2a;
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  background-repeat: repeat-x;
}
.jquery-notify-bar.notify-info {
  color: #fff;
  background-color: #2aabd2;
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  background-repeat: repeat-x;
  cursor: default;
}
.jquery-notify-bar.notify-success {
  color: #fff;
  background-color: #419641;
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  background-repeat: repeat-x;
}
.jquery-notify-bar a.notify-bar-close {
  color: #fff;
}
.jquery-notify-bar a.notify-bar-close:hover {
  text-decoration: none;
  color: #fff;
}
.servers-drives.has-no-cpu th:nth-child(3),
.servers-drives.has-no-cpu td:nth-child(3) {
  background-color: #f2dede;
  border-top: 0;
  border-left: solid 1px #dca7a7;
  border-right: solid 1px #dca7a7;
  color: #a94442;
}
.servers-drives.has-no-cpu th:nth-child(3) {
  border-top: solid 1px #dca7a7 !important;
  border-bottom: 0;
}
.servers-drives.has-no-cpu tr:last-child td:nth-child(3) {
  border-bottom: solid 1px #dca7a7;
}
.servers-drives.has-no-memory th:nth-child(4),
.servers-drives.has-no-memory td:nth-child(4) {
  background-color: #f2dede;
  border-top: 0;
  border-left: solid 1px #dca7a7;
  border-right: solid 1px #dca7a7;
  color: #a94442;
}
.servers-drives.has-no-memory th:nth-child(4) {
  border-top: solid 1px #dca7a7 !important;
  border-bottom: 0;
}
.servers-drives.has-no-memory tr:last-child td:nth-child(4) {
  border-bottom: solid 1px #dca7a7;
}
.servers-drives.has-no-drives th:nth-child(6),
.servers-drives.has-no-drives td:nth-child(6) {
  background-color: #f2dede;
  border-top: 0;
  border-left: solid 1px #dca7a7;
  border-right: solid 1px #dca7a7;
  color: #a94442;
}
.servers-drives.has-no-drives th:nth-child(6) {
  border-top: solid 1px #dca7a7 !important;
  border-bottom: 0;
}
.servers-drives.has-no-drives tr:last-child td:nth-child(6) {
  border-bottom: solid 1px #dca7a7;
}
.form-group {
  margin-bottom: 10px;
}
.help-block {
  margin-bottom: 0;
  margin-top: 2px;
}
.help-block-checkbox {
  margin-top: 2px;
}
.no-services-added-yet {
  padding: 10px;
}
.btn-inline-msg {
  padding-left: 10px;
}
.services-list li {
  list-style: none;
}
ul.tooltip-errors-list {
  padding-left: 10px;
  margin-bottom: 0;
}
ul.tooltip-errors-list > li {
  text-align: left;
}
.service-item {
  padding: 2px;
}
.service-item a,
.service-item button {
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}
.service-item button {
  padding: 5px;
}
.service-item button.service-label {
  padding: 5px 20px;
}
.service-item i.service-status {
  padding-right: 5px;
}
.service-item i.service-delete2 {
  padding-left: 10px;
}
.service-item.min {
  float: left;
}
.service-item.full i {
  padding-right: 5px;
}
.modal#plexModalSelectLibrary .modal-body .modal-plex-libraries-container {
  height: 200px;
  overflow: auto;
}
.modal#plexModalSelectLibrary .modal-body .modal-plex-libraries-container .modal-plex-libraries-list {
  padding-left: 0;
}
.modal#plexModalSelectLibrary .modal-body .modal-plex-libraries-container .modal-plex-libraries-list li:nth-of-type(odd) .modal-plex-library-container {
  background-color: #f9f9f9;
}
.modal#plexModalSelectLibrary .modal-body .modal-plex-libraries-container .modal-plex-libraries-list li {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}
.modal#plexModalSelectLibrary .modal-body .modal-plex-libraries-container .modal-plex-libraries-list li .modal-plex-library-container:hover {
  background-color: #eee;
}
.modal#plexModalSelectLibrary .modal-body .modal-plex-libraries-container .modal-plex-libraries-list li .modal-plex-library-container {
  display: table;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #ddd;
}
.modal#plexModalSelectLibrary .modal-body .modal-plex-libraries-container .modal-plex-libraries-list li .modal-plex-library-container .modal-plex-library-select {
  float: right;
  margin-top: 5px;
}
.modal#plexModalSelectLibrary .modal-body .modal-plex-libraries-container .modal-plex-libraries-list li .modal-plex-library-container small {
  padding-left: 10px;
}
.wizard .wizard-tabs {
  margin: 0;
  padding: 0;
  clear: both;
  border-bottom: 1px solid #c2c2c2;
  background: url("../images/wizard-bg.png");
}
.wizard .wizard-tabs .btn-tab-item {
  cursor: pointer;
  color: #959595;
  text-shadow: 0 1px 0 #fff;
  line-height: inherit;
  font-size: 12px;
  font-weight: bold;
  padding: 9.5px 15px;
  padding-left: 30px;
  margin: -1px;
  background: url("../images/wizard-bg-normal.png");
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-radius: 0;
  text-decoration: none;
}
.wizard .wizard-tabs .btn-tab-item:after {
  display: block;
  content: ' ';
  position: absolute;
  height: 35px;
  width: 16px;
  right: -15px;
  top: -1px;
  background: url("../images/wizard-arrow-normal.png");
  z-index: 1;
}
.wizard .wizard-tabs .btn-tab-item:first-child {
  padding-left: 15px;
}
.wizard .wizard-tabs .btn-tab-item:hover,
.wizard .wizard-tabs .btn-tab-item:active,
.wizard .wizard-tabs .btn-tab-item:focus {
  z-index: inherit;
}
.wizard .wizard-tabs .btn-tab-item.bti-disabled {
  cursor: not-allowed !important;
}
.wizard .wizard-tabs .btn-tab-item.bti-current {
  background: url("../images/wizard-bg-current.png");
  border-color: #225289;
}
.wizard .wizard-tabs .btn-tab-item.bti-error {
  background: url("../images/wizard-bg-error.png");
  border-color: #5f2424;
}
.wizard .wizard-tabs .btn-tab-item.bti-success {
  background: url("../images/wizard-bg-success.png");
  border-color: #3e6638;
  color: #22481d;
  text-shadow: 0 1px 0 #c3f1c3;
}
.wizard .wizard-tabs .btn-tab-item.bti-warning {
  background: url("../images/wizard-bg-warning.png");
  border-color: #533002;
}
.wizard .wizard-tabs .btn-tab-item.bti-current,
.wizard .wizard-tabs .btn-tab-item.bti-error,
.wizard .wizard-tabs .btn-tab-item.bti-warning {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.wizard .wizard-tabs .btn-tab-item.bti-current:after {
  background: url("../images/wizard-arrow-current.png");
}
.wizard .wizard-tabs .btn-tab-item.bti-error:after {
  background: url("../images/wizard-arrow-error.png");
}
.wizard .wizard-tabs .btn-tab-item.bti-success:after {
  background: url("../images/wizard-arrow-success.png");
}
.wizard .wizard-tabs .btn-tab-item.bti-warning:after {
  background: url("../images/wizard-arrow-warning.png");
}
.wizard .wizard-tabs .btn-tab-item:last-child:after {
  background: none !important;
}
.wizard .wizard-select-services {
  padding-bottom: 10px;
  text-align: center;
}
.wizard .wizard-select-services .wizard-select-service {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  line-height: normal;
  cursor: pointer;
  margin: 10px;
}
.wizard .wizard-select-services .wizard-select-service-selected {
  background-color: #ddd;
  border: 1px solid #c2c2c2;
}
.wizard .wizard-sub-tabs {
  margin-top: 10px;
}
.wizard .wizard-sub-tabs a {
  padding: 10px;
}
.wizard .wizard-sub-tabs .wizard-sub-title {
  float: left;
  height: 42px;
  padding: 15px 20px;
  padding-left: 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}
.wizard .wizard-sub-tabs .wizard-sub-tabs-success,
.wizard .wizard-sub-tabs .wizard-sub-tabs-success:focus,
.wizard .wizard-sub-tabs .wizard-sub-tabs-success:hover {
  color: #3c763d;
}
.wizard .wizard-sub-tabs .wizard-sub-tabs-error,
.wizard .wizard-sub-tabs .wizard-sub-tabs-error:focus,
.wizard .wizard-sub-tabs .wizard-sub-tabs-error:hover {
  color: #a94442;
}
.wizard .wizard-sub-tabs .wizard-sub-tabs-title {
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 1px 0px #999;
}
.wizard .wizard-sub-content {
  padding-left: 10px;
  padding-right: 10px;
}
.wizard .wizard-sub-content .row-continue {
  margin-left: -20px;
  margin-right: -20px;
}
.wizard .content > * {
  display: none;
}
.wizard .content > *:first-child,
.wizard .content > *:nth-child(2) {
  display: block;
}
.wizard .panel-body {
  padding-top: 0;
}
.wizard .panel-body .step-title {
  border-bottom: 1px solid #ddd;
}
.wizard .bottom-btn-row {
  padding-top: 5px;
}
.wizard .row-btn-inline {
  display: inline-block;
  line-height: 34px;
  padding-left: 10px;
}
.wizard .row-continue {
  border-top: 1px solid #ddd;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.wizard .row-continue .btn-pervious-page {
  width: 120px;
}
.wizard .row-continue .btn-next-page {
  margin-left: 10px;
  width: 120px;
}
