button(type='button', data-toggle='dropdown', aria-haspopup=true, aria-expanded=false).btn.btn-default.dropdown-toggle
  span(style='padding-right:5px').input-group-dropdown-text
  span.caret
ul.dropdown-menu.dropdown-menu-right
